<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("slide1.jpg" ,class: "d-block w-100", width:'600', height:'400' ) %>
    </div>
    <div class="carousel-item">
      <%= image_tag("slide2.jpg" ,class: "d-block w-100", width:'600', height:'400' ) %>
    </div>
    <div class="carousel-item">
      <%= image_tag("slide3.jpg" ,class: "d-block w-100", width:'600', height:'400' ) %>
    </div>
  </div>
</div>


