// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.carousel-inner{
  margin-bottom: 10px;
}
.card-deck{
  padding: 30px;
  border-radius: 10px;
}
.card{
  padding: 5px;
  border-radius: 10px;
}
.carousel{
  margin: 3px
}
.button_container{
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
.form_container{
 margin-right: 10px;
}
.show_container{
  padding: 5px;
}
.new_container{
  margin-left: 70px;
  margin-right: 70px;
}

